@import "../../variables";
@import "../../../styles.scss";

.employee_card {
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: $sider-radius;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .name {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    .salary {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &-buttons {
    span {
      font-size: 30px;
      transition: 0.3s ease;
      margin-left: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }

    .delete-icon {
      color: $warning-red;
    }
  }
}
