<main>
  <div class="about">
    <div class="page-title">Welcome to another CRM!</div>
    <div class="page-subtitle">Unlocking Team Potential: Strategies for Effective Team Management</div>
  </div>
  <div class="content">
    <nz-card class="employees-count" nzTitle="Employees">
      <ng-container *ngIf="( employeesList$ | async ) as employeesList">
        <div class="hej"> {{ employeesList.length }}</div>
      </ng-container>
    </nz-card>
    <nz-card class="salary-chart">
      <canvas id="canvas" #chart width="100" height="100"> {{ chart }} </canvas>
    </nz-card>
  </div>
</main>
