<div class="profiles-page">
  <!-- DO OSTYLOWANIA BEZ H2-->
  <h2>TYTUŁ STRONY PROJEKTY</h2>
  <ng-container *ngIf="!isLoading; else loader">
    <div class="project-wrapper">
      <nz-collapse>
        <nz-collapse-panel *ngFor="let project of projects" [nzHeader]="getListTitle(project.title, project.employees.length) " [nzDisabled]="project.employees.length === 0">
          <ul class="employee-list-wrapper" *ngFor="let employee of project.employees; index as i">
            <app-employee-list-item [employee]="employee" [index]="i"/>
          </ul>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </ng-container>
</div>

<ng-template #loader>
  <app-loading/>
</ng-template>
