li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  cursor: default;

  .employee-details {
    .programmer-title {
      opacity: .5;
      cursor: default;
    }
  }

  span {
    margin-left: 10px;
    transition: all 0.2s;
    opacity: .3;

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
      opacity: 1;
    }
  }
}
