@import './variables';
@import '../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: $page-bgc;

  .sider {
    width: 350px;
    min-width: 300px;
    padding: 20px 20px;
    min-height: calc(100vh - $sider-margins * 2);
    background-color: $white;
    margin: $sider-margins;
    border-radius: $sider-radius;
  }

  .content {
    width: 100%;
    padding: 20px;
    padding-left: 0;
    min-height: 100%;
    min-height: 100vh;
  }
}
