@import './app/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host ::ng-deep .ant-card {
  border-radius: 20px;

  .ant-card-head {
    border-bottom: none;

    &-title {
      font-weight: 600;
    }
  }
}

.form-group-container {
  display: flex;
  gap: 10px;

  @media only screen and (max-width: $responsive_tablet) {
    flex-direction: column;
    gap: 0;
  }
}
